{% extends 'base.html' %}

{% block head %}
<title>Vote_creation </title>
{% endblock %}

{% block content %}
<div class="content"></div>

  <h1 align="center"> Wybierz swoje głosowanie </h1>
  
<!-- Initial list of strings -->
<select id="dropdown" onchange="updateFields()">
    {%for key, item in data[0]['votes_opt_dicts'].items()%}
    <option value="{{ key }}">{{ key }}</option>
    {%endfor%}
    <!-- Add more options as needed -->
</select>

<!-- Credits input -->
<label for="credits">Pozostałe kredyty:</label>
<input type="number" id="credits" value="100" readonly>

<!-- Container for dynamic sliders -->
<form id="sliders-container" method="post"></form>

<script>
    // Define your lists
    var myListofDicts = {{ data | tojson | safe}};
    console.log(myListofDicts);
    
    var lists = myListofDicts[0]['votes_opt_dicts'];
    console.log(lists)

    var lists_2 = myListofDicts[1]['votes_credit_dict'];
    console.log(lists_2);

    // Function to update fields based on selected dropdown option
    function updateFields() {
        var selectedList = document.getElementById("dropdown").value;
        var fields = lists[selectedList];
        var credits = lists_2[selectedList];
        var prev_vals = Array(fields.length).fill(0);
        
        
        // Clear previous sliders
        document.getElementById("sliders-container").innerHTML = "";
        var vote_name = document.createElement("input");
        vote_name.type = "text";
        vote_name.value = selectedList;
        vote_name.name = "vote_name";
        vote_name.setAttribute("readonly", true);
        document.getElementById("sliders-container").appendChild(vote_name);

        // Create sliders dynamically
        fields.forEach(function (field) {
            var sliderContainer = document.createElement("div");
            sliderContainer.className = "slider-container";

            var label = document.createElement("label");
            label.textContent = field + ":";

            var slider = document.createElement("input");
            slider.type = "range";
            slider.min = 0;
            slider.max = credits;
            slider.value = 0;
            slider.name = field;
            slider.oninput = function () {
                prev_vals= updateTotal(prev_vals);
            };

            sliderContainer.appendChild(label);
            sliderContainer.appendChild(slider);

            document.getElementById("sliders-container").appendChild(sliderContainer);
        });
        // create submit button
        var buttonContainer = document.createElement("div");
        var button = document.createElement("input");
        button.type = "submit";
        button.value = "Submit";

        buttonContainer.appendChild(button);
        document.getElementById("sliders-container").appendChild(buttonContainer);

        // Initialize the total
        updateTotal(prev_vals);
    }

    // Function to update total credits based on slider values
    function updateTotal(prev_vals) {
        var prev_vals_copy = prev_vals;
        var total = 0;

     
        var sliders = document.querySelectorAll("input[type='range']");
        sliders.forEach(function (slider) {
            total += parseInt(slider.value);
        });

        var selectedList = document.getElementById("dropdown").value;
        var credits = lists_2[selectedList];
        
        // Update the total credits
        if (total <= credits){
            document.getElementById("credits").value = credits - total;
        }
        

        var i = 0;
        sliders.forEach(function (slider) {
            prev_value = prev_vals_copy[i]
            if (total > credits) {
                slider.value = prev_value;
            } else {
                slider.max = credits;
                prev_vals_copy[i] = slider.value;
            }
            i = i+1;
        });
        
        return prev_vals_copy;
    }

    // Initial call to set up fields
    updateFields();

</script>




{% endblock %}