{% extends 'base.html' %}

{% block head %}
<title>Home Page </title>
{% endblock %}

{% block content %}
<div class="content"></div>

  <h1 align="center">Kwadratura <img src="./static/logo_KK.png" alt="logo_KK" class="centered-image" width="80"
    height="80"> Koła</h1>
  
  <br>
  <p align="justify">Witamy na naszej stronie do głosowań w kołach naukowych - "Kwadratura Koła". Powstała ona w ramach zaliczenia  przedmiotu o zarządzaniu pracy projektowej. Mamy nadzieje ze dostępne tu funkcjonalności pomogą wam w zwiększeniu zaangazowania w waszych Kołach Naukowych! 🥰</p>

  <p>Projekt był zainspirowany ksiązka <i>Radical Markets. Uprooting Capitalism and Democracy for a Just Society</i> autorstwa Eric A. Posner i E. Glen Weyl. Opracowanie oraz artykuł na ten temat dostępny jest na stronie <a href="https://klubjagiellonski.pl/2019/02/01/demokracja-do-kwadratu-nowa-metoda-podejmowania-kolektywnych-decyzji/" target="_blank">klubu jagielońskiego</a>, który gorąco polecamy przeczytać (chociaz nie jest on niezbędny do zrozumienia samej idei głosowania kwadratowego).</p>
  
  <br>

  <p align="center">
    <img src="./static/vote_icon.jpeg"
       width="300"
       height="300"><br>
    </p>

{% endblock %}