{% extends 'base.html' %}

{% block head %}
<title>Opis metodyki </title>
{% endblock %}

{% block content %}
<div class="content"></div>

  <h2>Głosowanie Kwadratowe</h2>
  <p align="justify">Głosowanie kwadratowe to system wyborczy, który pozwala uczestnikom wyrażać swoje preferencje nie tylko poprzez wybór między opcjami, ale także przez określenie intensywności swoich preferencji. W przeciwieństwie do tradycyjnych systemów "jedna osoba, jedno głosowanie", głosowanie kwadratowe przydziela uczestnikom budżet kredytów do głosowania, które mogą rozdzielać między różnymi opcjami w sposób kwadratowy.</p>
  
  <p align="center">
  <img src="./static/infographic.jpeg"
     width="600"
     height="300"><br>
  </p>

  <p align="justify">Głosowanie kwadratowe ma na celu rozwiązanie niektórych ograniczeń tradycyjnych systemów wyborczych, oferując bardziej elastyczny i wyrazisty mechanizm. Pozwala na bardziej subtelne agregowanie preferencji i zazwyczaj efektywniej przydziela zasoby, dając większą wagę silnie wartościowanym wyborom. Ten koncept jest omawiany w kontekście podejmowania wspólnych decyzji, dostarczania dóbr publicznych i innych obszarów, gdzie preferencje mogą znacznie się różnić między uczestnikami. Stąd nasz pomysł żeby wykorzystać właśnie ten sposób głosowań w kołach naukowych, gdzie członkowie mogą być skrajne rózne pomysły.  </p>

  <p> Najwazniejsze charakterystyki głosowania kwadratowego:</p>
  <ol>
    <li><b>Przydzielanie Kredytów:</b> Każdemu uczestnikowi przydzielana jest określona liczba kredytów do głosowania. Kluczową zasadą jest to, że koszt oddania dodatkowych głosów na daną opcję wzrasta kwadratowo wraz z liczbą oddanych głosów.</li>
    <li><b>Wyrażanie Preferencji:</b> Uczestnicy mogą rozdzielać swoje kredyty do głosowania między różnymi opcjami, aby wyrazić swoje preferencje. Mogą skoncentrować swoje głosy na opcjach, które są dla nich najważniejsze, lub rozłożyć je na różne wybory.</li>
    <li><b>Kwadratowy Koszt:</b> Koszt oddania dodatkowych głosów na jedną opcję jest proporcjonalny do kwadratu liczby już oddanych głosów na tę opcję. To znaczy, jezeli głosujacy odda 1 kredyt na opcje A, to opcja A dostanie 1 głos. Natomiast jezeli głosujacy chciałby oddać 2 głosy na opcje A, to głosujący musiałby wydać 2<sup>2</sup> kredytów (czyli w tym wypadku 4). Dla 3 głosów potrzeba 9 kredytów, dla 4 głosów 16 kredytów i tak dalej.</li>
    <li><b>Ograniczenie Budżetu:</b> Uczestnicy muszą mądrze zarządzać swoim budżetem kredytów do głosowania, decydując, ile głosów oddać na każdą opcję w oparciu o swoje preferencje. Dzięki temu wybory są bardziej przemyślane, i co za tym idzie jesteśmy pewniejsi swojej opcji.</li>
    <li><b>Ważenie Głosów:</b> Ten system pozwala jednostkom z silnymi preferencjami dla konkretnej opcji przydzielić więcej głosów, odzwierciedlając intensywność ich preferencji. Zapewnia bardziej wyrafinowany sposób wyrażania siły przekonań.</li>
  </ol>

  <p align="cener"> Mamy nadzieje ze opis pomógł zrozumieć ideę głosowania kwadratowego - teraz nic tylko głosować! Powodzenia 😎 </p>


  
{% endblock %}