{% extends "base.html" %} {% block title %}Zarejestruj się{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Zarejestruj się</h3>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Wprowadź email"
    />
  </div>
  <div class="form-group">
    <label for="username">Nazwa użytkownika</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Wprowadź nazwę użytkownika"
    />
  </div>
  <div class="form-group">
    <label for="password">Hasło</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Wprowadź hasło"
    />
  </div>
  <div>
     <label for="role">Rola:</label>
        <select name="role">
{#            <option value="Admin">Admin</option>#}
            <option value="Voter">Głosujący</option>
            <option value="Author">Autor</option>
        </select><br>
    </div>  
  <br />
  <button type="submit" class="btn btn-primary">Utwórz konto</button>
</form>
{% endblock %}